[2017-05-12 03:01] mfrachet opened #4 "Introduction new animation : Shine animation"
We can add some animations inside of this project by creating some with thr [Animation API](https://github.com/Skahrz/rn-placeholder/blob/master/API.md)

It would be awesome to add something like `Shine loading animation` (something looking like [this codepen with CSS](https://codepen.io/oslego/pen/XdvWmd)

[2017-05-12 03:07] mfrachet opened #5 "Improvement : Remove warning while running tests"
When running tests, we got warning like :

[code]

or

[code]

Would be great to avoid that :)

[2017-07-09 00:34] Amurmurmur opened #9 "Unable to resolve module `AccessibilityInfo`"
Once this plugin is installed the following exception gets thrown:
[code]

RN v0.46.1
rn-placeholder v0.0.7 (but says 0.0.6 in the package.conf)

Hopefully somebody helps 👍

[2017-07-09 10:45] mfrachet commented on #9
Thanks for having opened this issue.

It seems to be a problem with the react native version you use and the one I use inside of this package.

Can you try with RN v0.44 and tell me if it's always happening ?

For now, I m going to investigate on that versions diff and wish to propose a solution to that problem.

[2017-07-09 11:53] mfrachet commented on #9
I've taken a look at some react native issues, and I've found this one pointing out a problem with react-native or npm [react-native#14209](https://github.com/facebook/react-native/issues/14209)

I think the next major release of react-native would provide à way to manage this kind of errors. Npm seems also to be working on the problem.

I m going to follow the thread and provide some improvement

[2017-07-09 11:53] #9 closed

[2017-07-09 13:05] kcfgl opened #10 "jest-haste-map: @providesModule naming collision:"
Really looking forward to using this library, looks awesome. But I'm getting a naming collision when I install.

I'm on RN@44.3

[code]
What is the best way to fix this issue? Thanks.

[2017-07-09 16:17] mfrachet commented on #10
Hi, and thanks for the kind words :D

This isssue is known here : https://github.com/mfrachet/rn-placeholder/issues/5

Can you tell me if you can reproduce it by cleaning NPM and running on a v0.44.0 react native project ?

I'll take a look on tomorrow, maybe moving react native to dev dependencies may solve the issue...

Thanks for your interest by the way :)

[2017-07-10 06:28] mfrachet commented on #10
Hey :)

Before I merge, can you tell me if using the following dependency solved your issue ?

[code]

It will take a specific commit where I have moved the react native dependency inside of the dev dependencies.

It works for me locally, so your feedback would be really appreciated 👍

Thanks for your help :)

[2017-07-10 11:18] kcfgl commented on #10
Hey Marvin - I can check it out in a few hours. I'll let you know. And thanks for the quick work to address this!

[2017-07-10 14:11] kcfgl commented on #10
@mfrachet I can confirm that I was able to install without any errors or warnings - even on @44.3

[2017-07-10 14:54] mfrachet commented on #10
Super cool, let's merge, and publish 0.0.7 :D

[2017-07-10 14:55] #10 closed

[2017-07-10 14:57] mfrachet commented on #9
Problem solved in 0.0.7, related PR : https://github.com/mfrachet/rn-placeholder/pull/11

[2017-07-13 21:17] mfrachet commented on #4
Fixed with https://github.com/mfrachet/rn-placeholder/pull/12

[2017-07-13 21:17] #4 closed

[2017-09-07 09:46] mfrachet opened #17 "Adding primitives"
The project is fully compatible with React Native Web.

It doesn't use extreme deep native concept related to gesture or specific native stuff.

And it may be pretty cool, for the community and for the future to imagine a a switch to https://github.com/lelandrichardson/react-primitives integration

[2017-09-07 11:59] mfrachet opened #18 "Adding prettier"

[2017-09-07 11:59] mfrachet opened #19 "Upgrading React Native and React to 0.47.x"

[2017-09-07 12:15] #18 closed

[2017-09-11 09:44] mfrachet opened #22 "Adding MultiWords placeholder"
Adding a `Placeholder.MultiWords` or `Placeholder.Words` to provide breaking lines like

[code]

instead of
[code]

[2017-09-19 20:43] rodolfobarretoweb opened #24 "Works with react native 0.40.0 version ?"
I try to implement in my project  but get this error:

![screen shot 2017-09-19 at 17 41 19](https://user-images.githubusercontent.com/914032/30614481-ea902018-9d61-11e7-9fa6-a0196e8ad125.png)

[2017-09-19 20:44] rodolfobarretoweb commented on #24
My code implementation

`return(
      <View style = { Style.container }>
        <Header backButton
          actionButton         = { permissions.check('schedules', CREATE) }
          title                = { title }
          onBackButtonPress    = { this._popNavigation }
          actionButtonIconName = 'add'
          onActionButtonPress  = { this._goToScheduleForm }
        />
          <Sc

[2017-09-20 06:23] mfrachet commented on #24
It seems that using styles with string concerning height and width are not supported on the Yoga version used by React Native 0.40.

Maybe it can be helpful : https://github.com/facebook/yoga/pull/258

I'll try to make some tests from my side to use flex properties instead of percentage and give you some feedbacks when possible.

Thanks for your help on the project 😄

[2017-10-18 04:47] #24 closed

[2017-10-18 04:48] #22 closed

[2017-10-18 05:47] #19 closed

[2017-10-18 05:47] #5 closed

[2017-10-18 05:47] mfrachet commented on #17
Let see if the project is still active / maintained :

- https://github.com/lelandrichardson/react-primitives/issues/93
- https://github.com/lelandrichardson/react-primitives/issues/92

[2017-11-17 08:20] deadcoder0904 opened #30 "Placeholder if child is responsible for the progress"
If I am using an `Image` wih `rn-placeholder` like

[code]

then the `onLoadEnd` method doesn't fire as `Image` is not rendered yet. So how do we achieve something like this with the component inside is the one which is responsible for the fetching of the Image. I think this can be its own issue.

I did find a workaround though by using `{position: 'absolute'}`

[code]

but the above mentioned loo

[2017-11-19 13:48] mfrachet commented on #30
Thank you for providing these issue and information. I'm going to make some experiments and give you some feedbacks.

For now, I think the only solution is to do what you're actually doing.

[2017-11-19 14:43] deadcoder0904 commented on #30
Cool no problem

[2017-11-27 07:51] mfrachet commented on #30
To encounter this problem, I though that relying on styles instead of conditional element rendering would have been a good solution. I had in mind :

- Use `height` and `width` with 0 on the parent
- Using `display: none` property

Because relying on `height` and `width` to 0 would have moved the element (top left corner would have been placed at the center of the expected image position, [see the

[2017-11-28 10:34] mfrachet commented on #17
Closing this issue for now, I'll check in few times if the primitives project will get some activities

[2017-11-28 10:34] #17 closed

[2017-12-12 00:09] calvinmikael opened #32 "Add useNativeDriver to improve performance"
Hello, thank you for this wonderful module. I believe there are a couple lines of code that can be added to this project that will significantly speed up the performance for most use cases without any backwards incompatible changes to the code base. The single caveat being that you may have to limit support for the next version of the module to version >=0.40 of React Native. I can easily submit a

[2017-12-12 17:23] mfrachet commented on #32
Hey :D

I'm happy you like the module :)

The idea seems interesting. I've created a PR (https://github.com/mfrachet/rn-placeholder/pull/33) concerning the [fade](https://github.com/mfrachet/rn-placeholder/blob/master/src/animation/fade.js) animation (that relies on opacity and that can be managed from the native lands)

For now, I can't apply this to the [shine](https://github.com/mfrachet/rn-pla

[2017-12-12 22:58] calvinmikael commented on #32
Thank you for the quick response and good catch with the caveats section, I'll be sure to update and use the new version soon.

[2017-12-18 06:43] mfrachet commented on #32
Closed with https://github.com/mfrachet/rn-placeholder/pull/33

[2017-12-18 06:43] #32 closed

[2018-01-07 05:56] conrad-vanl opened #38 "Allow for passing in arbitrary styles"
Would there be any interest for a PR that added the feature to be able to pass in arbitrary styles to placeholders? We've found the built-in props for a few of our use cases to be limiting, especially for fine-tuning the positioning of placeholder elements. We'd hate to wrap the placeholders in additional views, so we're left with having to build custom placeholders. However, if these components a

[2018-01-08 16:21] burkeshartsis commented on #38
A great example of this was with needing a `Placeholder.Media` or `Placeholder.Box` that respected aspect ratio. This is trivial if you can pass in the `aspectRatio` style prop but the current components don't allow for that.

Positioning typography components as mentioned @conrad-vanl is also unnecessarily brittle. Requiring a wrapper component, and handful of duplicated styles.

Love the library

[2018-01-09 15:57] mfrachet commented on #38
This sounds to be a good idea 😄

[2018-01-19 06:40] mfrachet commented on #38
Let me know if you would like to take the point or if I create a pull request from my side 😄

[2018-01-19 20:49] conrad-vanl commented on #38
Hey @mfrachet! Apologies, since writing the first message, my wife and I gave birth to our first son, and so I've been away from work for a while. I had started this work in this branch before - https://github.com/conrad-vanl/rn-placeholder/tree/style-prop

I believe this _might_ be pull-requestable, and happy to go ahead and open if you like. But might need a little more polish as well.

[2018-01-20 11:07] mfrachet commented on #38
Congrats to you and your wife 😄  I wish you all the best !

Don't worry, take time to rest and enjoy life. I will take some time to check what you've made and probably open something.

If you prefer to open the PR, I would be happy to help you on it :). Else, I'll make it mentioning your investment on the topic 😄

Have a great week end and again, congratulations 🎉

[2018-02-03 12:53] Angelk90 opened #39 "Placeholder.Media repeat and some requests"
@mfrachet :
Hi, how can I have a series of Placeholder.Media next to each other for a number of repeating columns.

As if it were loading a series of images.

It would be possible to set for Placeholder.Media, in a personalized way:
- height
- length
- personalized border radius

[2018-02-04 10:20] mfrachet commented on #39
I think you can achieve this by using the `Box` component : https://github.com/mfrachet/rn-placeholder/blob/master/API.md#box

I just realized that I've not updated the gitbook yet. Something I should definitely do 😅

Let me know if it's helpful for your need 😄

Concerning personalised border radius, it's quite related to https://github.com/mfrachet/rn-placeholder/issues/38

[2018-02-04 10:21] mfrachet commented on #30
I will close this since it's not active from a while, but keep in mind the problem.

If I find anything to help you solve this issue, I'll give you some feedbacks 😄

[2018-02-04 10:21] #30 closed

[2018-02-04 10:40] Angelk90 commented on #39
@mfrachet : But how can I repeat a series of boxes next to each other, for a series of lines?

[2018-02-05 06:32] mfrachet commented on #39
I'm pretty sure it would have worked using the standard style system 🤔 . Can you show me what you've tried and why it didn't worked ?

Thank you 😊

[2018-02-05 13:53] Angelk90 commented on #39
@mfrachet :
What I said, I wanted to make this effect, but that it is synchronized: https://snack.expo.io/BJ7AWyI8M
But I would not want to cycle the elements, I was wondering if there is a way you already do with Placeholder.Paragraph, where you can define the lineNumber.
it would be a very useful thing to define the number of rows and columns, that is, the number of elements that are repeated.

[2018-02-06 06:43] mfrachet commented on #39
Oh, I've got the point :)

It's not possible using the default components, and I m not sure it could take place inside the lib. The lib aims to provide the simplest way of creating placeholders.

However, you could be able to achieve this by using a custom component https://github.com/mfrachet/rn-placeholder/blob/master/API.md#custom

The idea is to remove, from your snack, the `animate` props of

[2018-02-12 06:31] mfrachet commented on #39
@Angelk90  Did you manage to make it work on your project ? :)

[2018-02-22 13:14] #39 closed

[2018-03-21 00:53] carol-zhao opened #41 "Add a license file"
It works great! but it doesn't have a license file yet, is there a plan to add license file to this rep? Someone may have concern to use it in their product without a clear license declaration.

[2018-03-21 08:50] mfrachet commented on #41
It's not mentioned, and I should probably (certainly 😇 ) add the MIT licence in a markdown.

Thanks you for the report 😄

[2018-03-21 15:12] mfrachet commented on #41
Fix in https://github.com/mfrachet/rn-placeholder/pull/42

[2018-03-21 15:12] #41 closed

[2018-05-01 07:13] jaulz commented on #38
Could anyone spend some time on this? :-)

[2018-06-01 09:32] mfrachet commented on #38
I'm currently working on, here's the current state:

- [ ] `<Box style={...} />`
- [ ] `<ImageContent style={...} paragraphStyle={...} mediaStyle={...} />`
- [x] `<Line style={...} />`
- [ ] `<Media style={...} />`
- [ ] `<MultiWords style={...} wordStyle={...} />`
- [ ] `<Paragraph lineStyle={...} style={...} />`

[2018-06-01 12:09] mfrachet opened #44 "Fix broken images"
A pain that hosting pics is closed

[2018-06-01 16:51] #44 closed

[2018-06-08 00:25] tinashe96 opened #46 "Cannot get Paragraph to render"
I've been testing out the different components available but cannot get a `Paragraph` component to render. I have tried to copy and paste the examples without changing anything and can get all the other components to render except paragraph.

The paragraph takes up more space as I increase `lineNumber` but does not render.

[code]

[2018-06-08 05:47] mfrachet commented on #46
Thank you for levering this issue.

It's super weird, the code you provide doesn't work. But the following is:

[code]

It seems that using an object instead of React Native stylesheet makes the job 🤔 . I need to invest some time to understand what's going on here. Is this viable / possible for you to use `<View style={{ flex: 1 }}/>` instead of react native stylesheet as long as I find a solution

[2018-06-08 17:34] tinashe96 commented on #46
You are right, using stylesheet seems to be the problem. I will use inline styling for now.

Another bug which may be related to this is when using the `ImageContent` with the `animate` prop while the parent `View` is styled with Stylesheet causes the component to not render properly. It only renders image box without the lines.

However, If the parent `View` uses inline styling with `animate` pro

[2018-06-09 04:12] mfrachet commented on #46
Yeah , I thinks it's related, I ll check this too ! Thank you !

[2018-06-09 05:08] mfrachet commented on #46
Ok so it seems the alignItems center kills the thing, remove it make it work on container on my side 😄

[2018-06-09 20:20] tinashe96 commented on #46
It works on my end as well when I remove alignItems center. Thank you! 👍

[2018-06-11 06:45] #46 closed

[2018-07-27 07:02] janhesters commented on #46
I have the same bug.

After removing the StyleSheet styling the code worked.

Here is the code without the StyleSheet with inline styles:
[code]

The inline styles of the view just basically where named container and created using StyleSheet.

So this bug is still out there.

[2018-09-11 10:01] samitha9125 opened #55 "Passing an animation to Placeholder.Line make it disappear."
When I pass an animation to the Placeholder.Line, it makes placeholder to disappear.

    <Placeholder.Line width="77%" animate="fade" onReady={this.props.loading} >

[2018-09-12 07:56] mfrachet commented on #55
Did you check the code of the codesandbox here :

https://mfrachet.github.io/rn-placeholder/getting-started/example.html

I dont have enough information to help you :/ .

Can you provide a snack of the none working component ?

[2018-09-17 07:33] mfrachet commented on #55
I close this issue.

Feel free to reopen if needed 😄

[2018-09-17 10:42] ducpt2 commented on #55
+ 1 same to me :)
Love your work @mfrachet.

[2018-09-17 11:11] mfrachet commented on #55
Thanks for the kind words! 😊

Do you have a piece of context or a snack to reproduce? 😄

[2018-10-02 12:13] EdwardOwusuAdjei commented on #30
Has this been fixed so far?

[2018-10-02 12:33] mfrachet commented on #30
Nop 😞

[2018-10-22 01:20] yo7 opened #60 "TypeScript type definition"
I couldn't find TypeScript [declaration file](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html) of this library.

If you don't mind I'd make a PR to add the file directly to this repository, which is convenient for TypeScript users. Or I can put the file to [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) repository.

[2018-10-22 09:39] mfrachet commented on #60
Hey!

I'm not really familiar with typescript ecosystem, so feel free to help us!

Thank you for this :blush:

[2018-10-26 07:59] nagacoder opened #62 "Cannot center Line in View?"
i want to create Line  centered in my View element, this my code

`<View style={{`
`width: '50%',`
`backgroundColor: 'red',`
`justifyContent: 'center',`
`alignItems: 'center'`
`}}>`
`<Placeholder.Line`
`position='right'`
`color="#efefef"`
`width="30%"`
`/>`
`</View>`

[2018-11-19 09:41] janhesters commented on #60
@yo7 Any news on this? This would bee awesome. If you don't do it, I'll do it!

[2018-11-19 10:50] mfrachet commented on #60
I won't 😝 but if you're interested in, it would be great 👌

[2018-11-19 14:04] yo7 commented on #60
@janhesters Nice! (and sorry for being inactive).

I think it'd be convenient to directly put the definition to the repo, but maybe your choice is better in terms of maintainability🤔

[2018-11-19 17:09] FerreiraRaphael opened #63 "Simple snapshot testing is breaking tests"
I have snapshot tests for my components, in a simple test as this one
[code]
this component `LoadingList` imports `rn-placeholder`.
it fails with the following message:
[code]

when I remove `rn-placeholder` the tests works fine.

this is my jest config:
[code]

Can you guys help-me with this ?

[2018-11-22 09:45] janhesters commented on #60
So I unfortunately don't have time to fork this and create a PR, but I'll leave the `index.d.ts` file here. @mfrachet Could you please add this to your package? Then we won't rely on the DefinitelyTyped repository.

[code]

[2018-11-26 10:18] ms4ever7 commented on #62
[code]
here is for what I would like to center content, can someone help me with that issue? @mfrachet

[2018-11-27 06:33] mfrachet commented on #62
I'm really interested in a snack owning all of the different style definition. I'm pretty sure that the problem relies on the "container" around (or in the implementation I've made in this lib on some style properties 😅 )

[2018-11-27 06:36] mfrachet commented on #63
Like `react-navigation`, can try by adding these lines?

[code]

[2018-11-27 06:36] mfrachet commented on #60
I'll check with some mates to try that interface since I'm absolutely not confortable with TS 😅

[2018-12-04 08:01] kala888 opened #65 "require cycle"
"react": "16.6.1",
    "react-native": "0.57.7",
    "rn-placeholder": "^1.3.0",

![image](https://user-images.githubusercontent.com/1215976/49427167-9980fa80-f7dd-11e8-9a25-7e77a2d4b190.png)

[2018-12-04 10:08] mfrachet commented on #65
I think it has been merge right there: https://github.com/mfrachet/rn-placeholder/pull/61

I'm going to make a release soon when merging the next background color on shine.

Thanks for the feedback

[2018-12-04 10:08] #65 closed

[2018-12-04 10:09] mfrachet commented on #63
I close this, feel free to reopen if needed

[2018-12-04 10:09] #63 closed

[2018-12-05 16:23] tomodian commented on #60
@janhesters you saved my day!

[2018-12-06 09:00] mfrachet commented on #60
I try to put this inside a PR in the next days. Sorry for being that late 😓

[2018-12-06 18:19] FerreiraRaphael commented on #63
Hello @mfrachet, could you please reopen this issue, I added this transformIgnorePatterns, and it didn't seem to work 😢

[2018-12-06 18:21] FerreiraRaphael commented on #63
current jest config

[code]

[2018-12-10 04:21] kala888 commented on #65
@mfrachet Thanks，waiting for your latest release....

[2018-12-10 10:57] mfrachet commented on #65
The fix has been published under the `1.3.2` version 😊

[2018-12-13 10:10] janhesters commented on #60
Made a pr: https://github.com/mfrachet/rn-placeholder/pull/66

[2019-01-08 06:50] nirre7 commented on #60
+1

[2019-01-18 13:02] mfrachet commented on #60
https://github.com/mfrachet/rn-placeholder/pull/66 has been merged and published on the v1.3.3 version 😊

Thanks for your help (+ @janhesters 👍 ) and sorry for the long time 😞

[2019-01-18 13:02] #60 closed

[2019-01-18 13:05] mfrachet commented on #62
It has been a while without this thread to be active. I'm closing it, feel free to reopen with a **snack reproduction** so that I can take a look 😊

Have a nice day and a wonderful year!

[2019-01-18 13:05] #62 closed

[2019-01-25 17:44] Andryak commented on #55
I managed to replicate this bug on version ^1.3.2.

It seems due to an interaction between `alignItems: 'center'` and `animate='fade'`.
In the attached example, the first line is visible while the second one is not. The only difference is the style associated with the views wrapping the two lines.

[code]

[2019-02-19 06:08] luweiCN commented on #38
I am wondering how is it going? I am having this issue too. I just roughly edit the `node_modules` code to solve the problem. I hope these feature will be supported officially soon.
[code]
[code]

[2019-02-19 13:28] mfrachet commented on #38
Hello @luweiCN 😊

This issue concerns the different primitives of the app: it means that I will / would probably work on adding custom styles only on the different primitives of the app.

The part you're describing is not part of this issue for now. If you need some specific behaviours concerning the animation part, you can create your own one using https://mfrachet.github.io/rn-placeholder/custom

[2019-02-27 22:24] patgeek opened #68 "Typescript definition for Placeholder.connect doesn't expect any arguments"
So based on the docs for custom components (https://mfrachet.github.io/rn-placeholder/customize/component.html) the connect function should take in a component as a parameter, but the Typescript definition for the function expects 0 arguments instead of the 1. Is this a mistake in the type definition?

[2019-02-28 01:03] mfrachet commented on #68
It's probably a mistake 😓 . Feel free to open a PR to fix this if you want 😊

[2019-02-28 18:08] patgeek commented on #68
I'll give it a shot!

[2019-02-28 18:08] #68 closed

[2019-03-19 12:02] mfrachet commented on #38
I'm sorry for being that late dealing this issue, my new job doesn't really for open source work some hours a week so...

But I think that I come with a solution that would help this library being simpler (in term of tree level) more customizable and composable: compound components.

Let's image a V2 that would look like:

[code]

It would allow to customize the component style directly without pa

[2019-03-20 03:30] andyr6381 commented on #38
Hi thanks for the module, I'm a bit confused on the above but.

Is it possible to change the backgroundcolor and width of the shine without creating a custom component? The current shines doesn't work for dark themes. I can modify the shine.js to get what I need but can I pass these styles from the component?

const styles = StyleSheet.create({
  shine: {
    width: 30,
    position: 'absolute',

[2019-03-20 12:31] mfrachet commented on #38
Yes, the actual shine animation is a tweak, as mentioned above. I think that for dark themes, you should make the color over the animation darker than the line color. It should make something better with this.

[2019-04-24 05:53] vikrampunchh opened #71 "Placeholder.ImageContent not working"
<Placeholder.ImageContent
				position="right"
				hasRadius
				lineNumber={5}
				textSize={14}
				lineSpacing={5}
				color="#00ff00"
				onReady={false}
				width="100%"
				lastLineWidth="30%"
				firstLineWidth="10%"
			/>

[2019-04-24 12:50] mfrachet commented on #71
Can you provide a snack reproduction?

[2019-04-27 16:23] mfrachet commented on #38
I've been working on a v2 for the library that is actually evolving here:

https://github.com/mfrachet/rn-placeholder/tree/compound

This should allow to customize a bit more the placeholders and passing styles at the level we want.

Concerning the placeholder on darkmode, I may have some ideas. But it will probably take some time to investiguate 😓

[2019-04-28 15:37] mfrachet commented on #38
I close this issue concerning the style passing since composition has been shipped in v2 (https://github.com/mfrachet/rn-placeholder/tree/v2.0.0)

Feel free to reopen if you need more informations 😊

[2019-04-28 15:37] #38 closed

[2019-05-02 12:20] mfrachet commented on #71
I've released the v2.0.0. I close this for now. If you face this problem again, let's try to reproduce this on https://snack.expo.io/ so that I can figure out what's going wrong 😊

Thanks to you and feel free to reopen in case it still doesn't work

[2019-05-02 12:20] #71 closed

[2019-05-02 13:08] mfrachet opened #73 "Finding a better way to manage animations"
Today animations rely on a trick: a box is put over all of the placeholder components and is animated:

This can cause problem when the user switches the background color or the element colors:

![](https://user-images.githubusercontent.com/3874873/49576297-15498700-f945-11e8-81d2-cdfb9f7b4298.gif)

Does anybody have an idea how we can fix this? 😊

[2019-05-09 02:04] changLiuUNSW opened #74 "[v2] Cannot find Typescript type definition for v2"
We try to upgrade to v2 but couldn't find type definition. Are we going to add it soon ?

[2019-05-09 19:41] mfrachet commented on #74
I'm not a typescript user, but if somebody wants to add the type definition, it would be with pleasure 😊

[2019-05-19 13:47] asherccohen commented on #73
Is there a known issue regarding animations on Android?It appears to me that emulator doesn't show the animation. Maybe just a performance issue?

[2019-05-20 12:17] mfrachet commented on #73
Nope, I wasn't aware about this. Is it possible for you to provide a snack reproduction so that I can verify this? 😊

[2019-05-29 20:22] AideProjet opened #77 "How do I know my image has finished loading?"
Hi,

I'm sorry this is a simple question but: how can I know if my image is fully loaded if the component containing the image has not yet been loaded?

How do you use this library to have a placeholder until your content is loaded?

Thanks,

Théo

[2019-05-30 12:13] #74 closed

[2019-05-30 12:19] mfrachet commented on #77
Your question is not that simple and actually reflects the biggest difficulty I have to deal with 😊. Since the Placeholder will only add its children to the view **only when the isReady props is true**, the Image will only start downloading its assets at that time.

What I mean here is that you won't be able to rely on the children for image loading, so this wont work:

[code]

One workaround is t

[2019-05-30 12:20] mfrachet opened #78 "V3 Plans"
I'm actually thinking of a V3 fully rewritten in typescript :D :D :D

[2019-05-30 18:17] adirzoari commented on #62
@ms4ever7  same issue. did you find solution?

[2019-06-10 11:00] runryan opened #81 "suggest replacing 'width: 100%' with 'marginHorizontal' to make styles more flexible"
When I use Line and Placeholder components, I find it's hard to custom their width due to `width: 100%` limitation. Sometimes we just tell a component its marginHorizontal to calculate its width automatically. So I suggest replacing `width: 100%` with `marginHorizontal:0` to make styles more flexible.
I've submitted a [pull request](https://github.com/mfrachet/rn-placeholder/pull/80). It failed an

[2019-06-10 12:53] mfrachet commented on #77
I close this for now, feel free to reopen 😊

[2019-06-10 12:53] #77 closed

[2019-06-12 23:10] heliojuniorkrogerbagy commented on #62
i just used alignSelf: 'center', and it worked!

[2019-06-24 19:48] dsznajder commented on #78
@mfrachet Hi! Thanks for great package, in our team, we are heavily using you package, and I have 2 questions :P
Do you have some deadline for v3.0.0?
Would you like to use `reanimated` for animations?

[2019-06-24 22:44] mfrachet commented on #78
Hi!

Thanks for the kind words 😊

I'm trying to find some time to work on it but I don't have that much 😓 .

My job takes me a lot of time and I can't invest myself as much as I want...

I'll keep you in touch as soon as I have more information about it :).

Concerning reanimated, I've not thought about it, but why not :)

[2019-06-25 08:09] dsznajder commented on #78
@mfrachet If you have only plans for TS now, I probably can handle it this week :)

[2019-06-28 17:23] mfrachet commented on #78
I'm actually working on a secrete piece of code that I will share soon. Obviously it's written in typescript, but with some breaking APIs...

But I think that you will like it 😄 😎

[2019-06-28 19:05] dsznajder commented on #78
@mfrachet I've started some TS already :) I will eventually rebase it to your changes :)

[2019-07-01 04:17] changLiuUNSW opened #84 "Typescript definition is not available after npm install"
I can see ```index.d.ts``` in the repo but it is not available after npm install.

Maybe it is not published yet?

[2019-07-02 12:50] mfrachet commented on #84
It has not been published yet. Sorry for that 😞

[2019-07-02 13:13] changLiuUNSW commented on #84
Thanks @mfrachet . Do you have ETA for it?

[2019-07-04 08:08] username199327 commented on #73
i have this issue too but on my case it was having elevation to the view, it doesnt animate the "shine" effect
but if i remove the elevation style it works again, still looking the issues page to see if there are any similar issues on this

[2019-07-04 08:31] winardis opened #85 "Cannot use elevation, if used it will not trigger "shine" animation"
![working](https://user-images.githubusercontent.com/48976564/60651396-4ef95680-9e70-11e9-903d-6eeba04643e6.gif)
![not working](https://user-images.githubusercontent.com/48976564/60651407-53257400-9e70-11e9-833a-13aacd4b8b32.gif)
Hi i wanted to ask is there a way to use elevation on with the "shine" animation, with elevation on the style of the view kind of blocked the "shine" to the back so the a

[2019-07-04 12:14] mfrachet commented on #85
Thank you for this! Can you provide a https://snack.expo.io/ so that I can hack / tweak on it? 😊

[2019-07-05 02:03] username199327 commented on #85
i'm sorry for the late reply i'll try, i have no experience with expo yet
because usually i use react-native cli, i'll try to :smile

[2019-07-09 14:57] mfrachet commented on #81
Same as in the PR, thanks for the suggestion but I will probably keep the actual API 😊

[2019-07-09 14:57] #81 closed

[2019-07-09 14:58] mfrachet commented on #84
I'm actually having something good running locally. Need to make some small fixes + add a new readme, but I should probably push something visible in the week 😄

[2019-07-09 14:59] mfrachet commented on #73
For the V3, I've taken the part of keeping the actual `Shine` animation which will be called "ShineOverlay" and to add a new Shine animation.

The new one will be a bit different (and a bit less esthetic... I don't have the perfect solution).

I'll post on this issue when I will push the v3-alpha branch 😊

[2019-07-11 17:13] mfrachet commented on #73
v3-alpha is on github :D https://github.com/mfrachet/rn-placeholder/pull/86

[2019-07-11 17:13] mfrachet commented on #84
It's not on github => https://github.com/mfrachet/rn-placeholder/pull/86

[2019-07-11 17:14] mfrachet commented on #78
I pushed it on github if you want review / play with it: https://github.com/mfrachet/rn-placeholder/pull/86

[2019-07-16 01:16] mfrachet commented on #78
V3 alpha is now out! I'm closing this issue for now, feel free to reopen!

And tell me if you like this release or not 😊 .

Thanks for your help folks!

[2019-07-16 01:16] #78 closed

[2019-07-16 01:17] mfrachet commented on #84
[This is solved in v3 🎉](https://github.com/mfrachet/rn-placeholder/tree/master/lib) . Let me know if it works for you and reopen if needed 😊

[2019-07-16 01:17] #84 closed

[2019-07-16 01:18] mfrachet commented on #85
I have provided a snack usage of elevation on the V3 => https://snack.expo.io/@mfrachet/84bb31 .

Let me know if it's okay for you 😊 . I'm closing this for now 😄

[2019-07-16 01:18] #85 closed

[2019-07-16 09:39] SampicBE opened #87 "Error during installation"
Hello,

When I add your package to my application, I can not install it because an error occurs during the installation.

Your postinstall obviously blocks my installation, it goes without saying that I have yarn on my post :)

Can you do the right thing please?

Thank you

[code]

[2019-07-16 11:19] mfrachet commented on #87
Thanks for the report and sorry about that 😓

This should be fixed on `v3.0.0-alpha.2` in this pr https://github.com/mfrachet/rn-placeholder/pull/88.

It has just been published. Let me know if you're still in trouble 😊

[2019-07-16 11:27] mfrachet commented on #73
This is super complex for the `Shine` animation since it would be needed to have a synchronization between the animation of the elements. For example, for a component like:

[code]

We would have to:

- start the animation on the left Media component
- when it has finished on the left Media, start on the block of lines
- when it has finished on the block of lines, start the right media
- repeat

[2019-07-16 12:33] SampicBE commented on #87
Everything is good, thank you for the responsiveness !

[2019-07-16 12:33] #87 closed

[2019-07-17 07:21] VanHoutte commented on #78
@mfrachet

First of all, really loving the library and looking forward to the new release and typescript!

Would it be possible to make the alpha available via npm?

[2019-07-17 11:17] mfrachet commented on #78
It is ! 😊 https://www.npmjs.com/package/rn-placeholder

Thanks for the kind words 😄

[2019-07-18 09:28] Phecda opened #89 "Wrong path of declaration file in package.json"
https://github.com/mfrachet/rn-placeholder/blob/d3696798a6291f1e9ec3916141a7d446d8795da9/package.json#L5

Hi! My VSCode complains that declaration file is not found, so I think this should be `lib/index.d.ts` .

[2019-07-18 12:01] mfrachet commented on #89
Woops! Thanks for the report!

https://github.com/mfrachet/rn-placeholder/pull/90 has fixed it and it's now published on npm under alpha-3 => https://www.npmjs.com/package/rn-placeholder

Let me know if it fixes this for you 😊

[2019-07-18 16:48] #89 closed

[2019-07-25 14:22] VanHoutte opened #91 "Custom Animations - alpha v3"
Hi

I'm testing the alpha version and it works really well.

I have 2 PlaceholderLines with different width but I want the shine animation to start at the exact same time and end at the same time and cross the same distance. The issue is that I cannot use a ShineOverlay since a white block is rendered on top of both views and I use a blue background.

I was thinking of creating a custom animation

[2019-07-25 16:32] mfrachet commented on #91
Hi,

Actually, this issue is linked to the other one https://github.com/mfrachet/rn-placeholder/issues/73 and I don't have plans for now to fix this :(.

I'm looking for solution.

And the other point concerning accessing the context, it's because I forgot to export it in the main file 😓

I'll try to do it soon 😅

[2019-07-25 17:52] VanHoutte commented on #91
Well if you could export the context and provider, i might be able to come up with something. If so, I'll create a PR.

[2019-07-29 03:59] minhchienwikipedia opened #92 "How to show horizontal items?"
Hi guys, I have an issue about show many items with horizontal style, but seems it's not working.
I had tried like this.
[code]
 And I had tried use `<Placeholder>` instead of `<View>` but it's still not working. It's not showing anything. Can you help me?

[2019-07-29 12:03] mfrachet commented on #92
Hi 😄

Do you have some mockups of what you want to achieve? Maybe I can take a look and check what's feasible for the need 😊

Thanks 😊

[2019-07-30 02:16] minhchienwikipedia commented on #92
@mfrachet  I wanna try something like that
![Demo](https://user-images.githubusercontent.com/20647079/62095457-b1484a00-b2aa-11e9-9997-2848a0016e9f.jpg)

[2019-07-31 10:36] mfrachet commented on #91
Sorry for being that late. It's on master and available on npm https://github.com/mfrachet/rn-placeholder/blob/master/src/index.tsx#L9

[2019-07-31 10:36] mfrachet commented on #91
I close this for now, feel free to reopen 😊

[2019-07-31 10:36] #91 closed

[2019-07-31 10:38] VanHoutte commented on #91
Thanks for the update!

Not sure if I will look into this, i'm switching jobs and going back to full time iOS development.

Anyway, keep up the good work!

[2019-07-31 10:39] mfrachet commented on #91
I wish you a great adventure and thanks for your help here 😊

[2019-07-31 11:06] mfrachet commented on #92
Hi 😊

Let me know if something like https://github.com/mfrachet/rn-placeholder/pull/94 would make the job as you wish it to do 😊

[2019-08-01 23:53] mfrachet commented on #92
It seems that you can now do this and it has been published on NPM :)

You can give it a try on https://snack.expo.io/@mfrachet/rn-placeholder-v3 😊

[2019-08-01 23:53] mfrachet commented on #92
I close this for now, feel free to reopen!

[2019-08-01 23:53] #92 closed

[2019-08-03 01:47] jasonjlock opened #96 "How to use with react-native-web"
Everything works great with React Native, but when I try to add rn-placeholder (2.0.0) to an app using react-native-web (0.11.2) I run into the following error:
[code]
Is there anything special I need to add to my .babelrc?  Here's my .babelrc:
[code]
Thank you for your help!

[2019-08-05 12:36] mfrachet commented on #96
I've just made a simple test using `create-react-app` and it works perfectly:

<img width="1680" alt="Screenshot 2019-08-05 at 8 35 11 AM" src="https://user-images.githubusercontent.com/3874873/62465043-04fbdd00-b75c-11e9-97e4-648e6562442e.png">

Maybe it's a configuration problem?

[2019-08-05 16:30] mfrachet commented on #96
The project now owns a `example-web` folder with a usage of rn-placeholder using react-native-web.

It's also hosted on gh-pages: https://mfrachet.github.io/rn-placeholder/

[2019-08-05 22:23] jasonjlock commented on #96
Thank you for the example! It's most definitely a configuration issue on my end. Thanks again for your time.

[2019-08-05 22:23] #96 closed

[2019-08-06 06:53] minhchienwikipedia commented on #92
@mfrachet It's work as well, thank you so much :D

[2019-08-06 11:18] mfrachet commented on #96
No problems ! Happy coding 😊!

[2019-08-08 06:59] AbanoubNassem commented on #73
is it possible to use `react-native-reanimated` instead for better smooth/performante animations ?

[2019-08-08 11:50] dsznajder commented on #73
@mfrachet I could help with `reanimated` implementation but I'm not sure if you would like to add it as peer dependency.

[2019-08-10 15:55] nastarfan opened #99 "Possibility to not rely on js thread?"
First, thank you for this awesome library, really useful for us.
However, recently I am having a problem to display the placeholder animation smoothly since the js thread is occupied performing other computation. The animation even stopped when such condition happens. Is there a way to display smooth animation regardless how busy the js thread is?
The whole idea of loading animation or placeholder

[2019-08-12 16:06] mfrachet commented on #99
I m in holidays but will take a look soon concerning the native computation or at least defering the animation only when it s possible on the JS thread.

Thanks for your feedback 😊

[2019-08-20 12:52] brooksbecton opened #100 "Docs Examples Out of Date"
https://mfrachet.github.io/rn-placeholder/components/line.html
1 example of the the docs using the old API.

I don't mind jumping on this.

[2019-08-21 19:38] mfrachet commented on #100
Can you please remove your cache ? The site was using a tool called vuepress heavily relying on caching mechanism that I ve moved 😅

[2019-08-21 19:53] brooksbecton commented on #100
![Screen Shot 2019-08-21 at 3 50 09 PM](https://user-images.githubusercontent.com/9373516/63463547-5fb75900-c42b-11e9-8cef-12e395aa1a89.png)

It did update today to this site.
Are you moving away from the previous style of website?

We just upgraded from v1 -> v3 and it was a little confusing seeing the v1 site and then this site that gives a few examples.

We were looking for things like animatio

[2019-08-22 07:38] mfrachet commented on #100
Absolutely 😊 . The previous site had a lot of content because the library was built in a way that wasn't that much extensible and needed more explanations.

Since the new version of the library is only providing three components: `Line`, `Media` and `Placeholder`, I wanted to provide as few information for the v3 usage as possible and this is the reason there's nothing more that this single page 😓

[2019-08-22 12:09] brooksbecton commented on #100
Custom Animations and Animation Duration.

https://github.com/mfrachet/rn-placeholder/blob/master/src/animations/Shine.tsx#L43
I saw this prop coming through on animations and wanted to use it.
I tried something like
[code]
but had no luck.

I ended up just copy/pasting the whole Shine component and changing the default.

Kinda similar situation for custom animations. I just copy and pasted one of

[2019-08-31 06:44] club9822 opened #102 "error during render"
i copy pasted  basic example and this is error i faced

Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

"react": "16.8.3",
 "react-native": "0.59.10",
"rn-plac

[2019-09-02 13:04] mfrachet commented on #102
Can you show the code you have copied ? Thanks 😊

[2019-09-02 18:27] club9822 commented on #102
thanks to your response
i copy pasted this example.
https://github.com/mfrachet/rn-placeholder/blob/master/example/storybook/stories/elements.tsx

could you say why whenReadyRender is removed?
and alternative way to manually hide placeholders?

thanks to this awesome work. 😊

[2019-09-03 00:21] mfrachet commented on #102
Did you try to copy paste everything from a story?

Because `Card` and `Title` are not exported by the module.

I'm actually writing some documentation to close https://github.com/mfrachet/rn-placeholder/issues/100 .

And there will be a section on what has change between the older version and the v3. 😊

[2019-09-03 04:42] #102 closed

[2019-09-05 12:30] mfrachet commented on #100
I don't forget, I'm actually working on a documentation 😅 sorry for being that late again

[2019-09-05 20:11] 32teeths commented on #77
Needed something similar .

[2019-09-06 12:11] mfrachet commented on #77
Have you tried the new API? it doesn't rely anymore on the `isReady ` prop so maybe it can be better for you?

[2019-09-24 20:30] gabrielbuzziv opened #104 "RN Placeholder import is undefined RN 0.60.5"
When importing the package like `import Placeholder from 'rn-placeholder'` is comming as undefined, for a reason a don`t know why.

![RN Placeholder import error](https://i.imgur.com/aekcTSO.png)

I just installed following the installations steps

`yarn add rn-placeholder` and  is not being able to import.

[code]

[2019-09-25 21:13] mfrachet commented on #104
Since V3, Placeholder is a named import and thus should be used like:

`import { Placeholder } from 'rn-placeholder'` 😊

[2019-09-26 14:50] mfrachet commented on #104
I'm closing this for now, feel free to reopen

[2019-09-26 14:50] #104 closed

[2019-09-26 14:57] gabrielbuzziv commented on #104
@mfrachet Thanks for answering.
I've tried this way too, but then i get another error, maybe the way to create Custom Component changed and is not documented correctly.

[code]

Got the message below.

![Error](https://i.imgur.com/tN9XbXV.jpg?1)

[2019-09-26 17:26] gabrielbuzziv commented on #104
I can`t reopen the issue since you closed, but i hope you see it @mfrachet

[2019-09-26 17:33] mfrachet commented on #104
I think that you're trying to use the v1 or v2 API but you're using the v3 version in your dependencies 😄 . I suggest you check https://github.com/mfrachet/rn-placeholder README for the v3 usage.

I'm also rebuilding the website with some explanations. It should be available for documentation in the week

[2019-09-26 21:20] mfrachet commented on #100
https://mfrachet.github.io/rn-placeholder/ is now updated. Make sure you've cleared your cache before refreshing.

Let me know if you're waiting for more informations 😊 .

I'll make the website folder as a git submodule soon for contributions 😊

[2019-09-26 21:20] #100 closed

[2019-09-27 09:05] kamalpandey opened #105 "Is there any props through which i can hide the placeholder and placeholderline?"
This is how i am using it.

[code]

[2019-09-27 10:07] kamalpandey commented on #105
This is how i am using it.

[code]

[2019-09-27 11:44] mfrachet commented on #105
The API has now moved. What I suggest is to take a look at https://mfrachet.github.io/rn-placeholder/migrating-from-previous-version#the-onready--whenreadyrender-props and the reason why it has been removed 😊

If you have any questions after reading this section, let me know here! I keep this issue open until you answered me 😊

[2019-09-27 11:45] mfrachet commented on #99
I didn't forget about this issue, I'm looking for time to take it 😅

[2019-10-01 22:06] gabrielbuzziv commented on #104
Hmm, thats it, thanks

[2019-10-16 23:01] #105 closed

[2019-10-24 20:52] brooksbecton commented on #73
`react-native-reanimated` requires 'react-native linking' so you would cut out anyone using this library and Expo.

[2019-10-25 09:34] mfrachet commented on #73
This is not a thing that I'm looking for with the lib :/

[2019-11-21 08:43] karanpratapsingh opened #109 "Custom fade backgroundColor"
https://github.com/mfrachet/rn-placeholder/blob/26feb7a47cd67baa92373e5c67fc631edf0b5474/src/animations/Fade.tsx#L27

first of all amazing library, have used it production for some time but is it possible to customize this via props? I would really like that functionality as I need to make it a little darker in dark mode

Thanks @mfrachet

[2019-11-26 14:02] mfrachet commented on #109
I think you can achieve that without an extra prop nope? https://snack.expo.io/BJYelnc2H

Let me know if it helps 😊

[2019-11-26 14:07] karanpratapsingh commented on #109
@mfrachet thanks for the response. how can I achieve that? the snack doesn't contain anything, it just shows `hello`

[2019-11-28 10:25] karanpratapsingh commented on #109
okay I figured it out if anyone runs into this problem, here's the solution

use this:
[code]
rather than:
[code]

[2019-11-28 10:25] #109 closed

[2019-11-28 14:49] mfrachet commented on #109
Oh sorry ! I didn't linked to the good one 🤦‍♂ . Happy you've found the solution and sorry for this out of range answer I've provided

[2019-11-28 14:52] karanpratapsingh commented on #109
no issues mate, happens 😄

[2020-01-25 16:58] alexandrasmith00 opened #111 "Allow PlaceholderLine to be aligned"
Is it possible to allow PlaceholderLine to be justified to the right? Currently, there's an extra div being rendered between Placeholder and PlaceholderLine that prevents alignment.

[code]
results in the following placeholders

<img width="188" alt="skeleton" src="https://user-images.githubusercontent.com/6541433/73124468-e556ac00-3f69-11ea-9ce9-c204cda3af6f.png">

When we pass `justifyContent`,

[2020-01-25 17:03] alexandrasmith00 commented on #111
Note: I was able to fix this by setting a `maxWidth` style on the `Placeholder`

[2020-01-25 17:03] #111 closed

[2020-02-05 12:23] ManigandanRaamanathan opened #112 "Not working if wrapped under flexDirection: row"
Not working if wrapped under flexDirection: row. The content is blank if wrapped with flexDirection. Please provide solution to have multiple placeholder in a single row.

[2020-02-05 12:34] ManigandanRaamanathan commented on #112
@mfrachet

[2020-02-05 13:06] ManigandanRaamanathan commented on #112
this is my code
`<View style={{flexDirection: 'row}}>
            <Placeholder  Animation={ShineOverlay}>
                <PlaceholderLine width={wp(12.1)} height={wp(32)} style={{borderRadius: wp(2), marginBottom: wp(2)}} />
                <PlaceholderLine width={wp(11)} style={{marginBottom: wp(2)}} />
                <PlaceholderLine width={wp(9)} style={{marginBottom: wp(1.5)}} />

[2020-02-05 14:08] mfrachet commented on #112
Hey thanks for pointing this :blush: . Can you provide a snack repro so that I can play with it and check what's going wrong?

Thank you 😊

https://snack.expo.io/

[2020-02-05 16:52] ManigandanRaamanathan commented on #112
@mfrachet here you go https://snack.expo.io/B1gsGu!f8
The snack rendering only 1 placeholder instead of 2 placeholders thats in the view

[2020-02-07 15:48] mfrachet commented on #112
Do you have something you want to achieve particularly?

I've tried adding "flex: 1" on both of the placeholders and they are on the same line.

What's the expected behaviour?

[2020-02-07 15:52] ManigandanRaamanathan commented on #112
I want to display multiple placeholders in a flexDirection: row

[2020-02-07 15:59] mfrachet commented on #112
Is that what you want? https://snack.expo.io/HJk!t_jG8

[2020-02-07 16:15] ManigandanRaamanathan commented on #112
@mfrachet yes. Thanks for the update. Will try and let you know

[2020-02-11 14:04] CarmeloXue opened #113 "Animation not work in Android"
I use this as a Skeleton, it works well in IOS, but the Animation just not work in android device (android version 7.1.1).

` <Placeholder Animation={ShineOverlay}>
          <View style={styles.short80}>
            <PlaceholderLine height={px2dp(8)}></PlaceholderLine>
          </View>
        </Placeholder>
`

[2020-02-13 01:50] mfrachet commented on #113
Can you provide a snack reproduction so that I can play with it and check what's going wrong? 😊

Thank you :D

[2020-02-15 05:48] #112 closed

[2020-03-02 12:21] #113 closed

[2020-03-19 15:05] rchvalbo commented on #99
Any movement on this?

[2020-03-20 13:35] mfrachet commented on #99
I'm not working on this for now, but if anybody wants to offload the animation to the native thread, feel free to open a PR 🙏

[2020-04-08 10:39] lendetejas opened #117 "How to center the rn-placeholder in the View compnent"
I m using style to center but its not working

[2020-04-09 06:33] mfrachet commented on #117
Can you provide a snack reproduction so that I can play with it? 😊

[2020-04-22 19:27] #117 closed

[2020-05-11 15:07] joaonew opened #118 "Graphs"
Hello, I'm just wondering if it would be possible to use this lib to put a placeholder on top of a graph while it is being rendered, and if so, if there is any example code that I could take a look?

Thanks.

[2020-05-12 13:27] mfrachet commented on #118
Well, it will depend on the way you use your graph :) but you can potentially do something like:

[code]

[2020-05-18 06:39] DivyaAndavarapu264 opened #119 "can we change color of this??"
IT has defalut color white how can we change because i need fade animation prop  i didnt need white color i need different color

[2020-05-18 14:04] mfrachet commented on #119
Yes you can :) https://mfrachet.github.io/rn-placeholder/components

[2020-05-18 14:04] #119 closed

[2020-05-18 14:04] #118 closed

[2020-05-18 22:37] NelsonPRSousa opened #120 "Animated: "useNativeDriver" was not specified warning"
Just updated to React Native 0.62.2 and there's a warning using `rn-placeholder` library, version 3.0.0.

`Animated: useNativeDriver was not specified. This is a required option and must be explicitly set to true or false`

Code:
[code]

Should we add this property to ShineOverlay component?

[2020-05-27 09:48] NelsonPRSousa commented on #120
@mfrachet any news regarding this issue?

[2020-05-28 04:50] mfrachet commented on #120
I will try to take a look on tomorrow. It's probably because I don't explicitly set `useNativeDriver` in the animations. Nothing too critical but I need to tweak a little my computer to have all the ios and android things running before fixing 😊

[2020-06-05 01:19] tranvanquang opened #122 "Warning: Animated: `useNativeDriver` was not specified"
I receive a warning:
Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`
When I using
<Placeholder Animation={ShineOverlay} />
If I remove Animation={ShineOverlay} I will no see warning. How can I help me using useNativeDriver and Animation={ShineOverlay} together.

"rn-placeholder": {
      "version": "3.0.0"
    },

[2020-06-07 09:18] mfrachet commented on #122
Thanks for reporting !

In the future, please take time to verify the existing issue, there's already one dealing with this 😊
https://github.com/mfrachet/rn-placeholder/issues/120

I'm closing and will continue on #120

[2020-06-07 09:18] #122 closed

[2020-06-09 13:38] #120 closed

[2020-06-09 13:42] mfrachet commented on #120
This should be fixed in v3.0.1. Let me know if it still doesn't work for you :)

[2020-06-09 13:42] #73 closed

[2020-06-09 13:56] NelsonPRSousa commented on #120
Tested with 3.0.1. It's working as before without the warning 👍

Thank you 🚀

[2020-06-14 06:04] tranvanquang commented on #120
Tested with 3.0.1. It's not working, I still received a warning.!!! how can I add useNativeDriver on rn-placeholder. And if u using version 3.0.1 working. Can u show me a demo !!!

[2020-06-14 08:55] nelsonprsousa commented on #120
@tranvanquang Make sure you are not receiving that warning from some other component. I am using 3.0.1 without that warning.

[2020-09-02 03:08] likern commented on #99
react-native-reanimated v2 does exactly this.
Your animations will be run on UI thread, or more specifically (if I correctly understood how they work) on
separate JS Engine instance deliberately used for animations.

[2020-09-02 05:24] mfrachet commented on #99
Yep, thanks for the feedback 😊 . I'm not very interested in adding a new dependency here since the placeholder animations are basic one and that we can avoid relying on the JS thread using react native "Animated" module.

However, I didn't try to create a custom animation with react-native-reanimated v2, that might be interesting 😊

[2020-09-10 07:54] stoica94 commented on #99
Would a PR where all the animations with `useNativeDriver: false`, such as Shine, be remade to to use native driver be useful? I am considering doing this. Especially Shine could be moved from animating `left` to `translateX` which is supported in native driver

[2020-09-10 08:06] mfrachet commented on #99
Yes this is an approach that I would prefer over adding react-native-reanimated :). Nice idea @stoica94 ! 😊

[2020-09-10 09:45] stoica94 commented on #99
Great! I will provide a PR this weekend and we will discuss further then 👍

[2020-09-10 10:15] mfrachet commented on #99
Thank you so much for this 🚀

[2020-09-18 06:26] mfrachet opened #136 "Refactor to the new context API and improve the custom Animation API"

[2020-09-18 06:27] mfrachet opened #137 "Possibility to reverse the animations"

[2020-09-18 06:27] mfrachet commented on #99
To give some feedbacks on that: https://github.com/mfrachet/rn-placeholder/pull/134#discussion_r490727207

[2020-09-18 13:24] mfrachet commented on #136
Fixed in https://github.com/mfrachet/rn-placeholder/pull/139

[2020-09-18 13:24] #136 closed

[2020-09-18 13:38] #137 closed

[2020-10-13 03:03] yibingxiong opened #141 "The example/storybook/stories/animations.tsx has imported "../../placeholder", but it not exists"
The example/storybook/stories/animations.tsx has imported "../../placeholder", but the file not exists.
so when I run, an exception occured. Like 'Unable to resolve "../../placeholder" from "storybook/stories/animations.tsx"' @mfrachet

[2020-10-13 03:19] #141 closed

[2020-10-13 06:18] mfrachet commented on #141
Did you manage to fix this? 😊

[2020-10-13 08:03] yibingxiong opened #142 "not support react lower than 16.8.0"
I found the lib has used hooks. This is the future of >=16.8.0. That means this lib not support react lower than 16.8.0?@mfrachet

[2020-10-13 08:15] mfrachet commented on #142
Yes we use hooks internally :) so applications using React < 16.8 can't use this library.

[2020-10-14 14:52] #142 closed

[2020-11-09 10:04] Mr-nan opened #144 "_react. Default. useEffect is not a function"
Error running React-Native reporting "_react. Default. useEffect is not a function"

[2020-11-09 10:05] Mr-nan commented on #144
![Uploading 61604916322_.pic.jpg…]()

[2020-11-09 10:07] Mr-nan commented on #144
![WechatIMG6](https://user-images.githubusercontent.com/17428078/98527736-5a576000-22b6-11eb-8dfb-e31a5ecd8917.jpeg)

[2020-11-09 11:58] mfrachet commented on #144
Which version of react and react native are you using?

[2020-12-01 10:14] mfrachet commented on #144
No answer from ~1 month. I'm closing, feel free to reopen if needed.

[2020-12-01 10:14] #144 closed

[2020-12-21 07:51] nandorojo commented on #99
Would this still get merged?

[2020-12-21 08:01] mfrachet commented on #99
It won't until it works on Android :/

[2020-12-22 10:01] ameer-taghavi commented on #113
also `ShineOverlay` animation is not working in `android` for me

[2020-12-22 16:31] mfrachet commented on #113
@ameer-taghavi can you provide a snack repro of this please?

[2021-01-06 11:21] ameer-taghavi opened #147 "bug: Error occurs in android when set PlaceholderLine's width by percent"
`<PlaceholderLine width="30%" />`

<img width="411" alt="image" src="https://user-images.githubusercontent.com/12966060/103762702-ff2fb880-502d-11eb-8afe-4c77e269ba9a.png">

[2021-01-06 20:14] mfrachet commented on #147
Can you provide a https://snack.expo.io/ repro of this please?

[2021-01-07 09:19] ameer-taghavi commented on #147
https://snack.expo.io/@ameer/83cd3b

[2021-01-10 06:49] kyamashiro commented on #147
You should replace `<PlaceholderLine width="30%" />` to `<PlaceholderLine width={30} />`  and it'll work.

[2021-01-11 09:11] ameer-taghavi commented on #147
Does the number convert to percentage?

[2021-01-11 09:14] kyamashiro commented on #147
https://github.com/mfrachet/rn-placeholder/blob/75f352c5b882fcd4b20aac641b514cdce2741b58/src/PlaceholderLine.tsx#L11-L12

It looks like it.

[2021-01-12 07:00] mfrachet commented on #147
Sorry for being late, yes, it converts :)

[2021-01-12 07:01] mfrachet commented on #147
I'm closing the issue for now since it looks resolved, feel free to reopen. And thank you @kyamashiro for your help here 🙏🏻

[2021-01-12 07:01] #147 closed

[2021-03-14 19:30] benjaminfiliatrault opened #151 "Option to change the default Animation background color"
It would be useful to use that feature especially when trying to implement a dark theme where the placeholder background should not be white but darkish. I looked out the Fade.js file and the value is hard coded

![image](https://user-images.githubusercontent.com/37634960/111081502-0239a000-84da-11eb-837d-6dc597087aef.png)

Using color on, for example, PlaceholderMedia we can set a color but then

[2021-03-14 19:35] #151 closed

[2021-04-14 21:02] Stevemoretz commented on #99
Reanimated 2 does exactly this.
If you don't want to add this as a dependency to the the current repo.

I'd suggest a branch for reanimated 2 would be great,ps if you haven't tried reanimated 2 you have no idea what you're losing it's just a lot easier a lot performant, and you write a lot of less code for the same thing, also the syntax is identical to what you normally write for your js calculat

[2021-04-14 21:14] nandorojo commented on #99
I'm the maintainer of a new library called Moti. It's like framer motion for React Native (+Web). It's powered by Reanimated 2.

I also have a skeleton component, which should solve the issue at hand.

Docs: moti.fyi/skeleton
Video: https://twitter.com/FernandoTheRojo/status/1366902697010622466

[2021-08-02 13:56] idanlevi1 commented on #151
Did you find any solution?

[2021-08-19 19:53] Stevemoretz commented on #99
It's a shame this didn't get fixed the moti library is also absolutely amazing and could easily be able to re create these animations but it means a few more dependencies

[2021-08-19 20:43] mfrachet commented on #99
Feel free to fork or to switch if this does not fit your needs 😊.

Kind reminder that I m not paid to provide you this library for free.

[2021-08-20 06:42] Stevemoretz commented on #99
Sure, it was just a kind suggestion performance wise, but you don't have to do anything for anyone.

I'll make my own no need to fork, thanks anyways for sharing this library.

[2021-08-20 07:41] mfrachet commented on #99
Sorry for being harsh. "It s a shame" does not translate very well in my native language 😅

Thanks for the suggestion however. I will probably try to request help from maintainers that will, hopefully, be more available and interested in maintaining this project since I dont have the time nor the energy to 🙂.

Sorry for the previous message, I misinterpreted what you said.

[2021-08-20 07:51] Stevemoretz commented on #99
No hard feeling, what it's a shame meant was this is a really good library with a lot of stars and users but unfortunately it has a little performance problem which is not resolved yet. Sorry I should've been more clear.

Thanks again for this after all, this got me the idea on how to build my placeholder component animations.

[2021-08-20 08:08] mfrachet opened #179 "Looking for maintainers"
Hello, people using this library 👋🏻

First, thank you all for having supported the project for such a long period 😊 .

As you may have seen, this project has not moved for a long time and this is because I don't have the time nor the energy (and that I shifted away from React Native to focus back on the web platform) to review pull requests or to provide a fix for critical issues (looking at you #

[2021-08-27 09:24] robertherber opened #184 "Link to web app broken"
I just noticed that the web app link in the readme is broken, I guess it should be https://mfrachet.github.io/rn-placeholder/ :)

[2021-11-15 21:32] fatoldsun00 opened #193 "flex doesn't works ?"
Hi,

i try to make 3 or more rectangle inline, i.e. flex row style. but this code doesn't works

[code]

How i can display loaders like in horizontal flatlist ?

Thanks

[2022-08-20 14:39] diragb opened #210 "Can't install with react@^18.0.0"
[code]

[2022-08-24 13:15] mfrachet commented on #210
https://github.com/mfrachet/rn-placeholder/issues/179

[2022-10-31 17:56] triplumix commented on #210
You can add these to package.json:
![image](https://user-images.githubusercontent.com/13035699/199076398-495142d1-9913-4008-a857-4c487aeaba13.png)

It works for me!

[2022-11-27 16:33] R4Y-R4Y commented on #193
anyone got into the issue?

[2022-11-27 16:54] R4Y-R4Y commented on #193
solved the issue by adding a view in the `Placeholder` component like this
[code]
the issue seems to be because the `Placeholder` component doesn't export a style prop in thte typescript and that would make it unable to do any styling inside of it
[code]
until a fix happens here's a way to do it :)